@using JsPlc.Ssc.Link.Models
@using JsPlc.Ssc.Link.Models.Entities

@{
    ViewBag.Title = "Profile";
    ColleagueView Colleague = ViewBag.Colleague;
    LinkMeeting NextMeeting = ViewBag.NextMeeting;
    string DateFormat = "dddd, MMMM d, yyyy 'at' h:mm tt";

    ColleagueTeamView ColleagueMeetings = ViewBag.ColleagueMeetings;//4/2/16
}

<div id="ProfileView">
    <div>@Html.MvcSiteMap().SiteMapPath()</div>
    <div><span class="h1">@(Colleague.FirstName + " " + Colleague.LastName)</span></div>
    <br />
    <current-meeting params="{data: data}"></current-meeting>
    <div data-bind='component: { name: "profile-tabs", params: {OnTabChanged: tabChanged}}'></div>
    <br />
    <div data-bind="stopBinding: true">
        <div id="featureContainer"></div>
    </div>
    <hr />
</div>
<script type="text/javascript">
    require(["ColleagueProfile", "RegisterKoComponents"], function (cp) {
        cp.init("ProfileView", @Html.Raw(Json.Encode(ColleagueMeetings)));
    });
</script>