@using JsPlc.Ssc.Link.Models
@using JsPlc.Ssc.Link.Models.Entities

@{
    ColleagueView Colleague = ViewBag.Colleague;
    LinkMeeting NextMeeting = ViewBag.NextMeeting;
    string DateFormat = "dddd, MMMM d, yyyy 'at' h:mm tt";

    ColleagueTeamView ColleagueMeetings = ViewBag.ColleagueMeetings;//4/2/16
}

<div id="ProfileView">
    <div>@Html.MvcSiteMap().SiteMapPath()</div>
    <div class="row">
        <div class="col-md-6"> <h1>@(Colleague.FirstName + " " + Colleague.LastName)</h1></div>
        <div class="col-md-6">
            <div class="right">
                @Html.ActionLink("Arrange a new conversation", "Create", "LinkForm", new { colleagueId = Colleague.ColleagueId }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    
    <current-meeting params="{data: data}"></current-meeting>
    <div data-bind='component: { name: "profile-tabs", params: {OnTabChanged: tabChanged}}'></div>
    <br />
    <div data-bind="stopBinding: true">
        <div id="featureContainer"></div>
    </div>
    <hr />
</div>
<script type="text/javascript">
    require(["ColleagueProfile", "RegisterKoComponents"], function (cp) {
        cp.init("ProfileView", @Html.Raw(Json.Encode(ColleagueMeetings)));
    });
</script>