
<div id="ObjectivesListView" style="display:none" data-bind="visible:true">
    <div>@Html.MvcSiteMap().SiteMapPath()</div>
    <h1>Objectives</h1>
    <div class="linkBox2 list-group-item">
        <div class="media-body">
            <p>Personal objectives ensure we are clear on our how we can each make a difference to our team, the business and our customers.</p>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="pull-right">
                <a class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#demo" data-bind="click: enterNewObjective" aria-expanded="false">Add a new objective</a>
            </div>
        </div>
        <div class="">
            <div id="demo" class="collapse">
                <div data-bind="stopBinding: true">
                    <div id="objectiveContainer"></div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <objectives-list params='data: objectives, readOnly: false'></objectives-list>
    <hr />
</div>
@Html.Partial("_ConfirmModal")
<script type="text/javascript">
    require(["Objectives", "autogrow", "RegisterKoComponents"], function (mod, autogrow) {
        $(document).ready(function () {
            mod.init("ObjectivesListView", "@ViewBag.ColleagueId");
            $('textarea').autogrow({ onInitialize: true });

        });
    });
</script>