
@{
    ViewBag.Title = "Objective";
}

<div class="container">
    <h2>Objectives</h2>
    <div class="list-group" id="objectiveList">
        <div class="media list-group-item">
            <button class="btn btn-default pull-right">View Objective</button>
            <div class="media-body">
                <h4 class="media-heading">Ana Maria Braga</h4>
                <p>Página Ativa</p>
            </div>
        </div>	
    </div>
</div>
<script type="text/javascript">
    require(["Objectives"], function (mod) {
        $(document).ready(function () {
            mod.init();
        });
    });
</script>