@using JsPlc.Ssc.Link.Models;
@{
    var currentUser = TempData["CurrentUser"] as LinkUserView;
    if (currentUser == null)
    {
        Response.Redirect("~/Home/Unauthorized?unauthPage=Link Meeting");
        return;
    }
}

<div id="ObjectivesListView" style="display:none" data-bind="visible:true">
	<div class="print-show">
		<h1>Objectives</h1>
		<h4>@currentUser.Colleague.FirstName @currentUser.Colleague.LastName</h4>
		<div style="height: 50px"></div>
	</div>
	<div class="print-hide">@Html.MvcSiteMap().SiteMapPath()</div>


	<div class="row print-hide">
		<div class="col-md-2">
			<img src="~/Content/Images/Objectives wheel unlabelled.png" width="106" height="101" class="wheel">
		</div>

		<div class="col-md-10">
			<h1>Objectives</h1><a class="btn btn-primary" data-toggle="collapse" data-target="#demo" data-bind="click: enterNewObjective" aria-expanded="false" style="float:right;margin-top:-50px;">Add objective</a>
			<hr />
			<p>Each of your objectives should be SMART: Specific, Measurable, Achievable, Relevant and Time bound.</p>
			<hr />
		</div>

		
	</div>

	<div class="container-fluid print-hide">
		<div>
			<div id="demo" class="collapse">
				<div data-bind="stopBinding: true">
					<div id="objectiveContainer"></div>
				</div>
			</div>
		</div>
	</div>
	<br class="print-hide" />
	<br class="print-hide" />
	<objectives-list params='data: objectives, readOnly: false'></objectives-list>
	<hr class="print-hide" />
</div>
<script type="text/javascript">
	require(["Objectives", "autogrow", "RegisterKoComponents"], function (mod, autogrow) {
		$(document).ready(function () {
			mod.init("ObjectivesListView", "@ViewBag.ColleagueId");
			$('textarea').autogrow({ onInitialize: true });

		});
	});
</script>