
<div id="ObjectivesListView" style="display:none" data-bind="visible:true">
	<div class="print-show">
		<h1>Objectives</h1>
		<h4>Andrey Shihov</h4>
		<div style="height: 50px"></div>
	</div>
	<div class="print-hide">@Html.MvcSiteMap().SiteMapPath()</div>


	<div class="row print-hide">
		<div class="col-md-2">
			<img src="~/Content/Images/Objectives wheel unlabelled.png" width="106" height="101" style="margin-top:30px;">
		</div>

		<div class="col-md-6">
			<h1>Objectives</h1>
			<hr />
			<p>Each of your objectives should be SMART: Specific, Measurable, Achievable, Time bound and Relevant</p>
			<hr />
		</div>

		<div class="col-md-4">
			<div class="pull-right">
				<br />
				<a class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo" data-bind="click: enterNewObjective" aria-expanded="false">Add objective</a>
			</div>

		</div>
	</div>

	<div class="container-fluid print-hide">
		<div>
			<div id="demo" class="collapse">
				<div data-bind="stopBinding: true">
					<div id="objectiveContainer"></div>
				</div>
			</div>
		</div>
	</div>
	<br class="print-hide" />
	<br class="print-hide" />
	<objectives-list params='data: objectives, readOnly: false'></objectives-list>
	<hr class="print-hide" />
</div>
<script type="text/javascript">
	require(["Objectives", "autogrow", "RegisterKoComponents"], function (mod, autogrow) {
		$(document).ready(function () {
			mod.init("ObjectivesListView", "@ViewBag.ColleagueId");
			$('textarea').autogrow({ onInitialize: true });

		});
	});
</script>