
<div id="ObjectivesListView" style="display:none" data-bind="visible:true">
    <div>@Html.MvcSiteMap().SiteMapPath()</div>
    <h1>Objectives</h1>
    <div class="linkBox2 list-group-item">
        <div class="media-body">
            <p>Personal objectives ensure we are clear on our how we can each make a difference to our team, the business and our customers.</p>
        </div>
    </div>
    <br />
    <a data-bind="attr: { href: 'objective/new' }" class="btn btn-primary btn-lg">Add a new objective</a>
    <br />
    <br />
    <objectives-list params='data: objectives'></objectives-list>
    <hr />
</div>
@Html.Partial("_ConfirmModal")
<script type="text/javascript">
    require(["Objectives", "autogrow", "RegisterKoComponents"], function (mod, autogrow) {
        $(document).ready(function () {
            mod.init("ObjectivesListView", "@ViewBag.ColleagueId");
            $('textarea').autogrow({ onInitialize: true });

        });
    });
</script>