@model JsPlc.Ssc.Link.Models.Entities.LinkObjective
@{
    ViewBag.Title = "Objective";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    require(["SingleObjective"], function (mod) {
        $(document).ready(function () {
            mod.init(@Html.Raw(Json.Encode(Model)));
        });
    });
</script>
<div class="container" id="ObjectiveView">
    @*TODO: Add real breadcrumbs*@
    <div>YOUR DEVELOPMENT > OBJECTIVES</div>
    <span class="h2">Add a new Objective</span>
    <br/>
    <span data-bind="text: 'Created on ' + displayCreateDate"></span>
    <h3>Objective title</h3>
    <div>
        <textarea data-bind="textInput: Title"></textarea>
    </div>
    <h3>What will I do to make a difference this year?</h3>
    <div>
        <textarea data-bind="textInput: Objective"></textarea>
    </div>
    <h3>How will I know I’ve made a difference (e.g. by improving quality/increasing sales/saving time/reducing cost)?</h3>
    <div>
        <textarea data-bind="textInput: MeasuredBy"></textarea>
    </div>
    <h3>Which company or divisional priority does this support?</h3>
    <div>
        <textarea data-bind="textInput: RelevantTo"></textarea>
    </div>
    <br />
    <br />
    <br />
    <div class="container-fluid">
        <div class="pull-right">
            <span>Updated on </span><span data-bind="text: displayUpdateDate"></span>
            <button class="btn btn-default" data-bind="click: update">Save changes</button>
            <a class="btn btn-default" href="objective">Cancel</a>
        </div>
    </div>
    <hr />
</div>
