<!-- Meeting history view for a single Colleague 
    This div will be enclosed in a for loop in the parent view, each item of which will be a colleagueViewModel
    -->

<!-- This partial uses a ColleagueVM with functions to build AccordianId, zeroLinkId, and LinkId
    
    Where: AccordianId identifies each Colleague, zeroLinkId identifies each Year for each Colleague, and LinkId identified each quarter within the specific year for the specific colleague 
    tip: We might be able to get away with using ColleagueId and then each for loop can append _levelIndex 

    e.g. Colleagues= accordionE001, accordionE002 etc.
    ColleagueE001's years = yearE001_yrloopIndex 
    each year's Periods = periodE001_yrLoopIndex_periodLoopindex
    Note: each Meeting item link doesnt have any specific id assigned - click method bound to ClickMeeting..

    Colleague methods: ClickMeeting method will work out based on Login, Meeting status(signoffs) etc where to redirect to..
    -->
<!-- ## Builds a tree structure based on the LinkMeetingView class -->
<div data-bind="with: $data">
    <!-- repeat node for each colleague -->
    <ul xid="accordion1" data-bind="id: 'accordion' + $parent.ColleagueId" style="list-style:none;padding:0px;margin:0px;margin-left:0px;">
        <!-- vary index by colleagueIdid -->
        <!-- repeat node for each year -->
        <li class="panel panelX">
            <a data-toggle="collapse" xdata-parent="#accordion1" data-bind="'data-parent': '#accordion' +  ColleagueId, href: '#zerolink' + ColleagueId + yearVal" xhref="#zerolink1">2014</a><!-- vary index by colleagueid+year -->
            <ul id="zeroLink1" class="collapse" style="list-style:none;padding:0px;margin:0px;margin-left:5px;">
                <!-- repeat node for each period -->
                <li class="panel panelX">
                    <a data-toggle="collapse" data-parent="#zeroLink1" href="#Link11">Period 1</a> <!-- vary index by colleagueid+year -->
                    <ul id="Link11" class="collapse" style="list-style:none;padding:0px;margin:0px;margin-left:10px;">
                        <!-- repeat node for each meeting -->
                        <li><a href="#">Meeting</a> 11/01/2014</li>
                        <li><a href="#">Meeting</a> 11/03/2014</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>