@using JsPlc.Ssc.Link.Models
@{
    // This view is used for Meeting Records as per Link MVP
    // TODO - Build the Html and Bindings to the ko PageViewModel
}
<div id="linkpage" style="display: none;" data-bind="visible: true">
    <div id="msgs"></div>
    <div>@Html.MvcSiteMap().SiteMapPath()</div>

    <div class="row">
        <div class="col-md-8">
            <h1 style="margin:0; padding:0">Conversation tracker</h1>
        </div>
    </div>

    <div data-bind="visible: $root.dataModel().length == 0">
        <div data-bind="template: { name: 'nopast-meeting-template', data: $root}"></div>
    </div>
    <div data-bind="visible: $root.dataModel().length > 0" style="margin-top: 10px">
        <!-- ko foreach: $root.dataModel() -->
        <div class="row" style="padding-bottom: 2px;">
            <!-- ko if: (!Meeting) || (Meeting.ColleagueId != "") -->
            <div data-bind="template: { name: 'past-meeting-template', data: Meeting }"></div>
            <!-- /ko -->
        </div>
        <!-- /ko --><!-- end of root.datamodel -->
    </div>


</div>
<script type="text/html" id="nopast-meeting-template">
    <!-- note: dataType = LinkMeetingView -->
    <div class="col-md-12" style="border: solid 1px black; width: 700px; margin: 10px 10px">
        <p>No conversation records found.</p>
    </div>
</script>
<script type="text/html" id="past-meeting-template">
    <!-- note: dataType = LinkMeetingView -->
    <div>
        <div class="col-md-12 linkBox1">
            <div class="col-md-1">
                <br/>
                <img data-bind="visible: (Status==0)" src="/Content/Images/round_black_cross.png" width="40" height="40" />
                <img data-bind="visible: (Status==1)" src="/Content/Images/round_black_tick.png" width="40" height="40" />
            </div>
            <div id="u98" class="col-md-10">
                
                <h2 data-bind="text: $root.getColleagueName(Colleague) + ' - ' + $root.formatDateMonthDYHM(MeetingDate) "></h2>
                
                <p>
                   
                        <!-- ko if: (ColleagueSignOff == 1) -->
                        @*You have submitted this conversation for signoff.*@
                        <!-- ko if: (ManagerSignOff == 0) -->
                        You submitted this conversation on <span data-bind="text: $root.formatDateMonthDYHM(ColleagueSignedOffDate) "></span>
                        <br />
                        <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span> has not yet accepted your record for this Link conversation.
                        <!-- /ko -->
                        <!-- ko if: (ManagerSignOff == 1) -->
                        <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span> accepted your record for this Link conversation on
                        <span data-bind="text: $root.formatDateMonthDYHM(ManagerSignedOffDate) "></span>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: (ColleagueSignOff ==0) -->
                        This conversation is not complete yet. Once you complete it, please submit it for signoff by
                        <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span>
                        <!-- /ko -->
                  
                </p>
                <p>
                    <a data-bind="attr: {'href': $root.getEditOrViewLink($data)}"
                       class="btn btn-sm btn-primary">
                        <span data-bind="text: $root.getColleagueName(Colleague)"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    require(["MeetingRecords"], function (lm) {
        $(document).ready(function () {
            lm.init();
        });
    });
</script>
