@{
    ViewBag.Title = "Team members";
}

<div id="linkpage" style="display: none;" data-bind="visible: true">
    <div>@Html.MvcSiteMap().SiteMapPath()</div>
    <h1>@ViewBag.Title</h1>
    <br />
    <div class="list-group" data-bind="foreach: teamMembers">
        <div class="linkBox3">
            <div class="linkBoxTitle">
                <h3><span data-bind="text: Colleague.FirstName + ' ' + Colleague.LastName"></span></h3>
            </div>
            <div class="LinkBox1Padding">
                <div class="row">
                    <div class="col-md-10">
                        You've had
                        <strong>
                            <span data-bind="text: (MeetingsInLast12Months == 0) ? 'no conversations ' :
                     (MeetingsInLast12Months == 1) ? '1 conversation ' :
                     (MeetingsInLast12Months + ' conversations ')"></span>
                        </strong>
                        with <span data-bind="text: Colleague.FirstName + ' ' + Colleague.LastName"></span>.
                        <p data-bind="if: LastMeeting && LastMeeting.MeetingDate">
                            Last conversation: <strong><span data-bind="text: $root.meetingService.formatDateMonthDYHM(LastMeeting.MeetingDate)"></span></strong>
                        </p>
                        <p data-bind="if: !LatestMeeting">
                            <strong>
                                You do not have any upcoming conversations with
                                <span data-bind="text: Colleague.FirstName + ' ' + Colleague.LastName"></span>
                            </strong>
                        </p>
                        <!-- Next conversation date -->
                        <p data-bind="if: LatestMeeting">
                            <strong>
                                Next conversation: <span data-bind="text: $root.meetingService.formatDateMonthDYHM(UpcomingMeetings[0].MeetingDate)"></span>
                            </strong>
                        </p>
                        <!-- View conversation button -->
                        <p data-bind="if: LatestMeeting">
                            <a data-bind="attr: {'href': $root.meetingService.getEditOrViewLink(UpcomingMeetings[0])},
                        visible: LatestMeeting.SharingStatus==1" class="btn btn-primary">View Link conversation</a>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <a data-bind="attr: {'href': 'Profile/Show/'+Colleague.ColleagueId}" class="btn btn-primary">
                            View profile
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>

<script type="text/javascript">
    require(["YourTeam"], function (lm) {
        $(document).ready(function () {
            lm.init();
        });
    });
</script>
