<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup></configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- ## WEB API -->
    <add key="ServicesBaseUrl" value="http://localhost:7907/" /><!-- URL where Web APIs are based -->
    <!-- ## END WEB API -->

    <!-- ### AZURE AD Configuration keys per env -->
    <!--LOCAL Env: linktool.onmicrosoft.com -->
    <!--<add key="ida:ClientId" value="d603cebb-3353-4ade-8485-55109fafd3f2" />
    <add key="ida:AppKey" value="+RJMuaOesm7aYgshqqY8SX1FH9p33wQEF908nDDBCu4=" />
    <add key="ida:Tenant" value="linktool.onmicrosoft.com" />
    <add key="ida:PostLogoutRedirectUri" value="http://localhost:59387/" />-->

    
<!-- LocalHost IIS - - >
    <add key="ida:ClientId" value="3b67c8dc-55ae-4118-bbd4-b6edc2b9819f" />
    <add key="ida:AppKey" value="f0s5htJUQ1RCvBQI/f7kko79r3vU+ufjmncqz9XT3lg=" />
    <add key="ida:Tenant" value="jsmocktest1.onmicrosoft.com" />
    <add key="ida:PostLogoutRedirectUri" value="http://localhost:90/" />-->
    
    <!-- LOCALLY set Env keys -->
    <add key="ida:ClientId" value="7be5a799-aab2-4cdd-9402-072a5105af63" /> 
    <add key="ida:AppKey" value="8ZBH56la+yk3O49iCpu7CEuvaaAZe898KbAdDUTnbWw=" /> 
    <add key="ida:Tenant" value="jsmocktest1.onmicrosoft.com" />
    <add key="ida:PostLogoutRedirectUri" value="http://localhost:59387/" />

    <!-- AWS Dev Env: jsmocktest1.onmicrosoft.com -->
    <!--<add key="ida:ClientId" value="996aaf9e-c1d8-4ae0-95ed-06eb65830130" /> 
    <add key="ida:AppKey" value="r9k6qf3ddRcf1zxVuORiyLElGJFKN1tkdMzHCUSIJWs=" /> 
    <add key="ida:Tenant" value="jsmocktest1.onmicrosoft.com" />
    <add key="ida:PostLogoutRedirectUri" value="http://52.19.4.65/" />-->

    <!-- AWS Test Env: jstest3.onmicrosoft.com-->
    <!--<add key="ida:ClientId" value="604dba32-3988-4acc-810a-2de13e6c83b0" /> 
    <add key="ida:AppKey" value="/UncHo8p7Lu3WhrrIt6quy1/aNTwsvbePSwFiYt5VcE=" /> 
    <add key="ida:Tenant" value="jstest3.onmicrosoft.com"/> 
    <add key="ida:PostLogoutRedirectUri" value="http://elb-link-test-wfe-323584443.eu-west-1.elb.amazonaws.com/" />-->
    
    <!-- AWS Test Env with MSDN Tenant: jsmocktest1 -->
    <!--<add key="ida:ClientId" value="4760600b-8deb-4871-a2b8-74545803164e" /> 
    <add key="ida:AppKey" value="2N6LkS6cG6Y41KeuTkQOvjBdFB0x8E+ZbsUyzwTLkUY=" /> 
    <add key="ida:Tenant" value="jsmocktest1.onmicrosoft.com"/> 
    <add key="ida:PostLogoutRedirectUri" value="http://elb-link-test-wfe-323584443.eu-west-1.elb.amazonaws.com/" />-->

    <!-- AWS NEW DEV Not Behind Load Balancer with MSDN Tenant: jsmocktest1 -->
    <!--<add key="ida:ClientId" value="f27261ea-4bc1-4c86-87d9-4668f592419d" /> 
    <add key="ida:AppKey" value="zQEcD3xZ1kk0gMHb7yJ/9havMeckUuhmDWwQw9qNGLY=" /> 
    <add key="ida:Tenant" value="jsmocktest1.onmicrosoft.com"/> 
    <add key="ida:PostLogoutRedirectUri" value="http://ci.link.js-devops.co.uk" />-->
    

    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <!-- login.microsoftonline.com or login.windows.net -->
    <!-- ## END AZURE AD -->
    
    <!--## GRAPH API - REMOVED AS WE CAN NOT USED GRAPH API ON CONVERGED INFRASTRUCTURE-->
    <!-- possibly used for graph API later..-->
    <!--<add key="GraphResourceId" value="http://jstest3.onmicrosoft.com/linkapi" />-->

    <!--<add key="ida:GraphResourceId" value="https://graph.windows.net" />
    <add key="ida:GraphUserUrl" value="https://graph.windows.net/{0}/me?api-version=2013-11-08" />-->
    <!-- ## END GRAPH API -->

    <!-- Foldername within Portal solution which has MeetingTemplate.pdf file -->
    <add key="PdfTemplatesFolder" value="PdfTemplates" />
    <!-- Within Portal solution location for the MeetingTemplate.pdf file -->
    <add key="MeetingTemplateFileName" value="PdfTemplates/MeetingTemplate.pdf" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <machineKey decryption="AES" decryptionKey="63A25404124E3F0537F3E38F622B50BF7FBA2DD472694D96" validation="AES" validationKey="4246E971C646F9575235765704C6457EB3FC6FB1075DAEB56A97F0B6AB6A2D68975D0CF2A9742C4EDDEF1188D0D87742BCDBC0FDAE74A9BE0769CF82BCF39131" />
    <globalization uiCulture="en" culture="en-GB" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True" scriptLocation="http://pacman.bc.jsplc.net/web.pac"></proxy>
    </defaultProxy>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="a4292a325f69b123" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4137.9688" newVersion="1.7.4137.9688" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/ElmahErrorLogs" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location></configuration>