
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="container centered">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="h1">
                <p class="error-page-heading">We'll be back soon!</p>
            </div>
            <br />
            <div class="error-page-text">
                <p>We're really sorry, but we can't bring you the My Performance site at the moment.</p>
                <p>We're carrying out some essential maintenance and we'll be back soon so please try again later.</p>
            </div>
            <br />
            <div>
                <img src="Content/Images/error-icon.svg" class="error-icon" />
            </div>
        </div>
    </div>
</div>

