h1 {
	margin-top: 50px;
}

h4 {
	font-size: 24px;
	margin-top: 18px;
}

hr {
	border-top: 1px solid black;
}

.linksection-heading{
	font-size: 30px;
	margin-top: 50px;
}
.linkBoxTitle{
	margin: 15px 0 0 0;
}
#linkSecondaryNav {
	display: none;
}

.print-hide {
	display: none;
}

.print-show {
	display: initial;
}

.print-pre-wrap {
	white-space: pre-wrap;
}

.print-pre-line {
	white-space: pre-line;
}

.tab-content > .tab-pane {
	display: block;
}

.fade {
	opacity: 1;
	-webkit-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.pdpTab {
}

	.pdpTab .active {
	}

.printSectionTitle {
	visibility: visible;
}

.nav-tabs {
	display: none;
	margin: 0px;
	padding: 0px;
	margin-top: -60px;
}

.tab-pane {
	margin: 0px;
	padding: 0px;
}

.linkPadding {
	padding: 0;
}

.linkBox2 {
	display: none;
	margin: 0px;
	padding: 0px;
}

.linkBox1, 
.linkBox3,
.linkPanelS,
.linkPanel {
	border: 0;
}

.linkPanelS,
.linkPanel{
	margin-top: 50px;
}

.form-horizontal,
.panel-heading,
.LinkBox1Padding {
	margin: 0px;
	padding: 0px;
}

.collapse {
	display: block !important;
	height: auto !important;
}

.row {
	margin: 0;
}

.col-sm-9 {
	padding: 0;
}
