body {
    color:#777777;

}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 5px;
  margin: 5px;
}

header.link-banner {
    position: relative;
    padding: 15px 15px;
    text-align: center;
    color: #1D728F;
    background-color: white;
    /*background-color:#1975FF;*/
    /*background-image: url('Images/bg.png');*/
    font-size: 20px;
}

header.link-banner{
    padding-left:70px;
    padding-right:70px;
}



img.logo {
    height: 80px;

}

img.comp-logo {
    height: 60px;
}

/*div { display: block; float: none;}*/
.apptitle {
    color: #04ACCF;
    font-weight: bold;
    font-size: 100%;
}
.appTitle2 {
    color: #056791;
}
.subtitleText {
    color: #02A8C4;
    font-weight: bold;
    font-size: 100%;
}
.right {
    float: right;
}
.speechBubble {
    background-image: url('Images/speach_bubble_blue_ncs.PNG');
    background-repeat: no-repeat;
    background-size:contain;
    width: 250px;
    height: 380px;
    padding: 20px;
    padding-top:5px;
    color: white;
}
.speechBubble .subtitleText {
    font-size: 100%;
    color: #ffffff;
    padding-top:19px;
   
}
/* Right side cyan bar on Welcome page */
.infoBar {
    background-color: #02ABCA;
    padding: 20px;
}
.infoBar p {
    color: #056791;
    font-weight: bold;
}
.infoBar h3, .infoBar li {
    color: white;
}

.moreLink{
    margin-right: 10%;
    font-size: 100%;
}
.link-footer {
    background-color: #056792;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-top: #02ABCA solid 2px;
}



 /*needed for accordian menu*/
.pdp-accordion .panel-group .panel-heading a:after {
  content: '-';
  float:right;
  right: 20px;
  top:5px;
}
.pdp-accordion .panel-group .panel-heading a.collapsed:after {
  content: '+';
}

.pdp-accordion  .panel-heading {
    color: white;
    background-color: #056792;
}

/*main Pdp tabs*/
.pdp-heading{ background-color: #056792;color: #ffffff;padding:10px;margin:0px;}


/*.panel-default > .panel-heading {
    color: #fff;
    background-color: #ffffff;
    color:#333333;
    border:0px solid #ffffff;
}*/
.linksection-heading {
    color: #0C5B94;
    font-size:120%;
}
.linkmeeting-question {
    margin-bottom: 0;
}
.section-heading {
    color: #fff;
    background-color: #20a9cb;
    padding: 5px;margin: 0;  
}
.threeicons {
    margin: 10px 0 10px;
}
.threeiconContainer {
    margin:0; margin-top: 0;
    background-color: #20a9cb;
    padding: 0;
}
.liWelcome {
    display: block;
    padding-right: 2px;
    min-height: 80px;
}
.liIcon {
    width: 50px; height: 130px; display:block;float: left;
}
.liIcon1{  
    background-position: 0 -.2em;
    background-repeat: no-repeat;
    background-image: url(Images/Tick_icon.PNG);
}
.liIcon2{  
    background-position: 0 -.2em;
    background-repeat: no-repeat;
    background-image: url(Images/Bulb_icon.PNG);
}
.liIcon3{  
    background-position: 0 -.2em;
    background-repeat: no-repeat;
    background-image: url(Images/collaboration_icon.PNG);
}


.liIconTick{  
    background-repeat: no-repeat;
    background-image: url(Images/tick-icon.png);
    background-size: 40px 40px;
     margin-top:25px;margin-bottom:-25px;
}
.liIconHeart{  
    background-repeat: no-repeat;
    background-image: url(Images/heart-icon.png);
     background-size: 40px 40px;
     margin-top:25px;margin-bottom:-25px;
}
.liIconPeople{  
    background-repeat: no-repeat;
    background-image: url(Images/people-icon.png);
     background-size: 40px 40px;
      margin-top:25px;margin-bottom:-25px;
}



.welcomepage .threeiconContainer {
    margin-top: 1px;
    max-width: 100px;
}
textarea {
    width:100%;
    resize: none;
}

.photo {
     width: 304px;
     height: 236px;
}


/* Main Menu */

#mainTabs{border:0;width:100%;background-color:#056792;padding:0;border-bottom:2px solid #3d3d3d;}


.tab-heading {
    /*padding-right: 0;
    padding-left: 0;*/
    background-color: #056792;
    padding: 0 0 0 0;
    font-size: 120%;
    color: whitesmoke;
    border-right:#fff solid 1px;
    
}

.tab-headingStart {
 
    border-left:#fff solid 1px;
    
}

.tab-heading .welcomeText {
    margin: 10px 0;
    padding-left: 12px;
    padding-right: 20px;
}
.navbar-inverse .navbar-nav > li > a {
  color:#ffffff;
}

.navbar-inverse .navbar-nav > .active > a:focus { background-color: #3d3d3d;
}

textarea.form-control.multilinePdp {
    height:150px; 
    width:100%;
    border-radius: 0px;
}

.navbar {
    border-radius: 0;
    position: relative;
    min-height: 0;
    margin-bottom: 10px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 95%;
    color: #428BCA;
    text-decoration: none;
}
.nav > li > .active {
    font-size: 150% !important;
    background-color: #3d3d3d;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color:#fff;
    background-color: #00acc9;
}

.headlineSubText {
    padding: 8px;
    margin: 3px;
    border: solid 1px grey;
    font-size: 80%;
}
/* The following rule clipped the menu opton in sm view*/
/*.nav {margin-left:-25px;}*/

.breadcrumb {margin-bottom:0px;}




.link-footer {color:#ffffff;}
.link-footer > h4 {font-size:80%;}

.footerlinks {list-style:none;padding:0px;margin:0px;}
.footerlinks li a{color:#ffffff;}
.footerlinks li a:hover{text-decoration: none;}

.footerP { font-size:90%; }


.panelX {  margin-bottom: 0px;  border:none;
  border-radius: 0px;
  box-shadow:none;
}

.meeting-incomplete {
    color: red;
}

.meeting-completed {
    color: green;
}

.pointable {
    cursor: pointer;
}

.img-circle {
    width: 30px;
    height: 30px;
}
.meeting-banner .colleagueInfo {
    line-height: 25px;
}
.legend {
    border: solid 1px silver;
    font-size: x-small;
    margin-top: -40px;
    width: 100px;
}
    
.comments-container {
    padding-top: 5px;
    font-size: smaller;
}









a:link, a:visited {
    /*color: inherit;*/
    text-decoration: underline;
}
.linkErrorMsg {
    font-weight: bold;
    color: red;
}
.conversation-record-heading {
    margin: 0 0 0 15px;
    padding: 0; 
}
.linkInfoMsg {
    font-weight: bold;
    color: #313131;
}
.content-inline {
    display: inline-block;
    float: left;
    padding: 3px;
    margin-top: 8px;
}
.heading-withdatepicker {
    padding: 0 5px 0 0;
    margin: 0;
}
.picker-row {
    margin-left: 1px;
}
.text-between-pickers {
    padding: 0;
    margin-top: 20px;
}

.meeting-banner {
    background-color: #ececec;
    height: 40px;
    padding: 5px 0;
}

/*For profile tabs on profile page*/ 
.disableLink {
    pointer-events: none;
    text-decoration: none;
    color: #ccc;
}

.disableTab {
    cursor: not-allowed;
}

a:link {text-decoration: none;}


/*UI STYLE GUIDLINES*/

.list-group-item{ border: #00acc9 solid 1px;}
.media-heading{ background-color:#00acc9;}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #fff;
background-color: #00acc9;
border-color: #00acc9;
}

@font-face {
    font-family: maryAnnWeb;
    src: url(/fonts/mary_ann_web-regular.woff);
}

h1 {font-family:maryAnnWeb;font-size:250%;color: #056792; text-transform:capitalize;}
h2 {font-family:maryAnnWeb;font-size:180%;color: #056792; text-transform:capitalize;}
h3 {font-family:maryAnnWeb;font-size:143%;color: #333333;margin-top: 0px; text-transform:capitalize;}
h4 {font-family:maryAnnWeb;font-size: 120%; text-transform:capitalize;}
.special{margin-top: 0px;}

.lead{font-family:maryAnnWeb;font-size:150%;color: #056792;padding: 0px;margin:0px;margin-bottom:10px;}

.element.style {
    border: solid 1px #056792;
}

hr { display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #00acc9;
    margin: 1em 0;
    padding: 0; }

.linkBox1{border: solid 1px #056792;margin-bottom: 10px;padding-top:10px;}
.linkBox2{border: solid 2px lightblue;margin-bottom: 10px;padding:10px;padding-bottom:0px;background-color:lightblue}
.linkBox3{border: solid 1px #056792;margin-bottom:0px;padding-top:0px;margin-bottom:15px;}
.LinkBox1Padding{ padding-left: 10px;}
.linkBoxTitle{ background-color: #056792;color: #ffffff;padding:10px;margin:0px;margin-bottom:10px;}

.linkBoxTitle1{ background-color: #ffffff;padding:10px;margin:0px;margin-bottom:10px;border-bottom:solid 1px #056792}

.linkPadding{ padding:10px;}

footer {
  margin: 50px 0 0 0; /* or just use:  margin-top: 50px;*/
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #056792;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    font-size: 110%;
    font-family:maryAnnWeb;
     letter-spacing: 1px;

}

.nav-tabs > li > a
{
      background-color: lightblue;
      color: #056792;
    font-size: 110%;
    font-family:maryAnnWeb;
     letter-spacing: 1px;
    
}

.fa {color: #337ab7

}

.objective-question {
    font-weight: bold;
    background-color: #056792;color: #ffffff;padding:10px;margin:0px;
}


.printSectionTitle {visibility:hidden;}


.background1 
{
background-image:url(/Content/Images/LinkColleague.jpg);
 margin-top:-10px;
 padding-top:10px;
 padding-bottom:20px;
 margin-left:0px;
}


.background2
{
background-image:url(/Content/Images/LinkColleague.jpg);
 margin-top:-10px;
 padding-top:10px;
 padding-bottom:20px;
 margin-left:0px;
background-size:contain;

}

.btn-primary {
    border-radius: 20px;
    font-family:maryAnnWeb;
    background-color:#056792;
}

.btn-primary:active {
    border:none;

}

.btn-default {
    border-radius: 20px;
    font-family:maryAnnWeb;
}

.expanded-objective .fa {
    color: white;
}



.footerLinks a,
.footerLinks a:hover,
.footerLinks a:focus {color:#ffffff;
}
