body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header.link-banner {
    position: relative;
    padding: 15px 15px;
    text-align: center;
    color: #1D728F;
    background-color: white;
    /*background-color:#1975FF;*/
    /*background-image: url('Images/bg.png');*/
    font-size: 20px;
}

.tab-heading {
    padding-right: 0;
    padding-left: 0;
    background-color: #333333;
}

li.tab-heading.active a {
    background-color: lavender;
}

img.logo {
    height: 120px;
}

img.comp-logo {
    height: 60px;
}
div, span, h1, h2, h3, h4, h5, h6 {
    font-family: Mary Ann, Arial, sans-serif;
}
/*div { display: block; float: none;}*/
.apptitle {
    color: #04ACCF;
    font-weight: bold;
    font-size: 22pt;
}
.appTitle2 {
    color: #056791;
}
.subtitleText {
    color: #02A8C4;
    font-weight: bold;
    font-size: 10pt;
}
.right {
    float: right;
}
.speechBubble {
    background-image: url('Images/speach_bubble_blue_ncs.PNG');
    background-repeat: no-repeat;
    width: 350px;
    height: 380px;
    padding: 10px;
    color: white;
    margin-top: -100px;
}
/*.subtitleText {
    color: #04B0D6;
}*/

.link-footer {
    background-color: #04ACCF;
    padding-left: 15px;
    padding-top: 15px;
}