@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>
<br />
<div>
    <h4>Technical help</h4>
    <p>Please contact DTSD if you have any technical issues <strong>- 0345 603 4401</strong> .</p>
</div>
<br/>
<div>
    <h4>My performance</h4>
    <p>If you have any questions reagarding the Link performance management process please speak to your line manager or HR manager.</p>
</div>