@{
    ViewBag.Title = "Contact";
}
<div class="row">
    @Html.Partial("_Tabs", new ViewDataDictionary { { "tabName", "contact" } })
</div>
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>J Sainsbury Plc</strong><br/>
    Tu Square<br/>
    Northview<br />
    Walsgrave Triangle<br />
    Coventry<br />
    West Midlands<br />
    CV2 2SJ<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Sunna.Syed@Sainsburys.co.uk">Sunna.Syed@Sainsburys.co.uk</a><br />
</address>