@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong>J Sainsbury Plc</strong><br/>
    Tu Square<br/>
    Northview<br />
    Walsgrave Triangle<br />
    Coventry<br />
    West Midlands<br />
    CV2 2SJ<br />
</address>

<address>
    <strong>Support:</strong>  Contact Vanessa Burrows at: <a href="mailto:Vanessa.Burrows@Sainsburys.co.uk">Vanessa.Burrows@Sainsburys.co.uk</a><br />
</address>