
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Help</h1>
<div class="linkBox2">
    <p>Here you can view and download various informational forms.</p>
</div>

<div class="list-group">
    <a href="/Content/Static/Link Guide Feb 2016.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Link Guide Feb 2016</h4>
        <p class="list-group-item-text">Informational details...</p>
    </a>
    <a href="/Content/Static/Link conversation form Feb 2016.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Link conversation form Feb 2016</h4>
        <p class="list-group-item-text">Informational details...</p>
    </a>
    <a href="/Content/Static/Link conversation form with prompts Feb 2016.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Link conversation form with prompts Feb 2016</h4>
        <p class="list-group-item-text">Informational details...</p>
    </a>
    <a href="/Content/Static/Link PDP Form Feb 2016.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Link PDP Form Feb 2016</h4>
        <p class="list-group-item-text">Informational details...</p>
    </a>
    <a href="/Content/Static/Link SMART objectives form Feb 2016.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Link SMART objectives form Feb 2016</h4>
        <p class="list-group-item-text">Informational details...</p>
    </a>
</div>