@using JsPlc.Ssc.Link.Models
@{
    var viewType = TempData["ViewType"];
    // This view still used for Link conversations (i.e My conversations.)
    // This view is NOT used for Team view, refer to Team/YourTeam
}
<div id="linkpage" style="display: none;" data-bind="visible: true">
    <div id="msgs"></div>
    <div>@Html.MvcSiteMap().SiteMapPath()</div>


  



    <!-- ko foreach: $root.dataModel() -->
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/Images/Link wheel unlabelled.png" width="106" height="101" style="margin-top:30px;">
        </div>
        <div class="col-md-7">
            <h1>Link conversations</h1>
           
            <hr />
            <p>
    You've had
    <strong>
        <span data-bind="text: (MeetingsInLast12Months == 0) ? 'no conversations ' :
                                    (MeetingsInLast12Months == 1) ? '1 conversation ' :
                                    (MeetingsInLast12Months + ' conversations ')"></span>
    </strong>
    with your line manager.<br/>

                <!-- ko if: (LastMeeting && LastMeeting.MeetingDate) -->
                Last conversation: <strong><span data-bind="text: $root.formatDateMonthDYHM(LastMeeting.MeetingDate)"></span></strong>
                <!-- /ko -->
</p>

            <hr />
        </div>
        <div class="col-md-2" style="text-align: right;">
       <br/>
            <a data-bind="attr: {'href': CreateLink}" class="btn btn-primary">Create Link</a>
         
        </div>
    </div>



    


    <!-- Latest conversation if any -->
    <!-- ko if: (LatestMeeting) -->
    <div data-bind="template: { name: 'current-meeting-template', data: LatestMeeting }"></div>
    <!-- /ko -->
    <!-- ko if: (!LatestMeeting) -->
    <div data-bind="template: { name: 'nocurrent-meeting-template', data: LatestMeeting }"></div>
    <!-- /ko -->
    <div>
        <h2>Previous conversations</h2>
    </div>
    <!-- ko if: (!PastMeetings) || (PastMeetings.length == 0) -->
    <div data-bind="template: { name: 'nopast-meeting-template', data: PastMeetings}"></div>
    <!-- /ko -->
    <!-- ko foreach: PastMeetings -->
    <div data-bind="template: { name: 'past-meeting-template', data: $data }"></div>
    <!-- /ko -->
    @*<div class="linkBox1">
            <span style="color: red">TODO Continue creating past conversation views here..</span>
        </div>*@


    <!-- /ko --><!-- end of root.datamodel -->
</div>



    <script type="text/html" id="nocurrent-meeting-template">
        <!-- note: dataType = LinkMeetingView -->

        <div class="linkBox3">
            <div class="LinkBox1Padding">
                <p>You have no upcoming conversations. Click Create Link conversation button to arrange one.</p>
                </div>
            </div>

    </script>
    <script type="text/html" id="current-meeting-template">
    <!-- note: dataType = LinkMeetingView -->

    <div>
        <h2>Upcoming conversation</h2>
    </div>


    <div id="u98" class="linkBox3">
        <div class="linkBoxTitle">
            <h3 data-bind="text: $root.formatDateMonthDYHM(MeetingDate) "></h3>
        </div>
        <div class="LinkBox1Padding">
            <p>
                <span>
                    <!-- ko if: (ColleagueSignOff == 1) -->
                    @*Completed on ...*@
                    You completed this conversation on <span data-bind="text: $root.formatDateMonthDYHM(ColleagueSignedOffDate) "></span>
                    <br />
                    <!-- ko if: (SharingStatus == 0) -->
                    @*Not Shared ...*@
                    Conversation not yet shared with manager.<br />
                    <!-- /ko -->
                    <!-- ko if: (ManagerSignOff == 1) -->
                    @*Approved on ...*@
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span> accepted your record for this Link conversation on
                    <span data-bind="text: $root.formatDateMonthDYHM(ManagerSignedOffDate) "></span>
                    <!-- /ko -->
                    <!-- ko if: (ManagerSignOff == 0) -->
                    @*Approved on ...*@
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span> has not yet accepted your record for this Link conversation.
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: (ColleagueSignOff ==0) && (SharingStatus ==1) -->
                    This conversation is not complete yet. Your manager can view this conversation.
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span>
                    <!-- /ko -->
                    <!-- ko if: (ColleagueSignOff ==0) && (SharingStatus ==0) -->
                    <!--This conversation is not complete yet. Once you complete it, please share it for signoff by
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span>-->
                    <!-- /ko -->
                </span>
            </p>
            <p>
                <a data-bind="attr: {'href': $root.getEditOrViewLink($data)}"
                   class="btn btn-sm btn-primary">View record</a>
            </p>
        </div>
    </div>


       

</script>
    <script type="text/html" id="nopast-meeting-template">
        <!-- note: dataType = LinkMeetingView -->
        <div class="linkBox2">
            <p>You have no previous conversations.</p>
        </div>
    </script>
<script type="text/html" id="past-meeting-template">


    <!-- note: dataType = LinkMeetingView -->
    <div id="u98" class="linkBox3">
        <div class="linkBoxTitle">
            <h3 data-bind="text: $root.formatDateMonthDYHM(MeetingDate) "></h3>
        </div>
        <div class="LinkBox1Padding">
            <p>
                <span>
                    <!-- ko if: (ColleagueSignOff == 1) -->
                    @*Completed on ...*@
                    You completed this conversation on <span data-bind="text: $root.formatDateMonthDYHM(ColleagueSignedOffDate) "></span>
                    <br />
                    <!-- ko if: (SharingStatus == 0) -->
                    @*Not Shared ...*@
                    Conversation not yet shared with manager.<br />
                    <!-- /ko -->
                    <!-- ko if: (ManagerSignOff == 1) && (SharingStatus ==1) -->
                    @*Approved on ...*@
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span> accepted your record for this Link conversation on
                    <span data-bind="text: $root.formatDateMonthDYHM(ManagerSignedOffDate) "></span>
                    <!-- /ko -->
                    <!-- ko if: (ManagerSignOff == 0) -->
                    @*Approved on ...*@
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span> has not yet accepted your record for this Link conversation.
                    <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: (ColleagueSignOff ==0) && (SharingStatus ==1) -->
                    This conversation is not complete yet. You manager can view this conversation.
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span>
                    <!-- /ko -->
                    <!-- ko if: (ColleagueSignOff ==0) && (SharingStatus ==0) -->
                    This conversation is not complete yet. Once you complete it, please share it for signoff by
                    <span data-bind="text: $root.getColleagueFirstName(ManagerAtTime)"></span>
                    <!-- /ko -->
                </span>
            </p>
            <p>


                <a data-bind="attr: {'href': $root.getEditOrViewLink($data)}"
                   class="btn btn-sm btn-primary">View record</a>
            </p>
        </div>
    </div>

     

    </script>

    <script type="text/javascript">
        require(["LinkMeetings", "RegisterKoComponents"], function (lm) {
            $(document).ready(function () {
                lm.init("@viewType");
            });
        });
    </script>
