@using JsPlc.Ssc.Link.Models
@{
    var viewType = TempData["ViewType"];
    // This view still used for Link Meetings (i.e My Meetings.)
    // This view is NOT used for Team view, refer to Team/YourTeam
}
<div id="linkpage" style="display: none;" data-bind="visible: true">
    <div id="msgs"></div>
    <div>YOUR LINK</div>

    <!-- ko foreach: $root.dataModel() -->
    <div class="row">
        <div class="col-md-8">
            <h1 style="margin:0; padding:0">Link meetings</h1>
        </div>
        <div class="col-md-4">
            <div class="col-md-12" style="padding-left: 30px">
                <a data-bind="attr: {'href': CreateLink}"
                   class="btn btn-lg btn-primary" style="background-color: silver; text-decoration: none">Create Link meeting</a>
            </div>
        </div>
    </div>
    <p>
        You've had
        <strong>
            <span data-bind="text: (MeetingsInLast12Months == 0) ? 'no meetings ' :
                                    (MeetingsInLast12Months == 1) ? '1 meeting ' :
                                    (MeetingsInLast12Months + ' meetings ')"></span>
        </strong>
        with your line manager in the last 12 months.
    </p>

    <!-- ko if: (LastMeeting && LastMeeting.MeetingDate) -->
    Last meeting: <strong><span data-bind="text: $root.formatDateMonthDYHM(LastMeeting.MeetingDate)"></span></strong>
    <!-- /ko -->
    <div class="row" style="padding-bottom: 30px; border-bottom: solid 2px silver">
        <!-- Latest Meeting if any -->
        <!-- ko if: (LatestMeeting) -->
        <div data-bind="template: { name: 'current-meeting-template', data: LatestMeeting }"></div>
        <!-- /ko -->
        <!-- ko if: (!LatestMeeting) -->
        <div data-bind="template: { name: 'nocurrent-meeting-template', data: LatestMeeting }"></div>
        <!-- /ko -->
        <div class="col-md-12">
            <h2>Past Link meetings</h2>
        </div>

        <div class="col-md-12">
            <span style="color: red">TODO Continue creating past meeting views here..</span>
        </div>
    </div>


    <!-- /ko --><!-- end of root.datamodel -->
</div>
<script type="text/html" id="nocurrent-meeting-template">
    <!-- note: dataType = LinkMeetingView -->
    <div class="col-md-12" style="border: solid 1px black; width: 700px; margin: 10px 10px">
        <p>You have no upcoming meetings. Click Create Link meeting button to arrange one.</p>
    </div>
</script>
<script type="text/html" id="current-meeting-template">
    <!-- note: dataType = LinkMeetingView -->
    <div style="margin: 10px 10px">
        <div class="col-md-12" style="background-color: silver; color: black; border: solid 1px black; ">
            <p><span>Current Link meeting</span></p>
        </div>
        <div class="col-md-12" style="border: solid 1px black; padding-top: 12px;">
            <div class="col-md-1">
                <img src="/Content/Images/calendar_icon.png" style="width: 40px; height: 40px" />
            </div>
            <div id="u98" class="col-md-10">
                <p style="font-size:20px;">
                    <span style="font-family:'Arial Bold', 'Arial';font-weight:700;font-size:20px;" data-bind="text: $root.formatDateMonthDYHM(MeetingDate) "></span>
                </p>
                <p style="font-size:13px;">
                    <span style="font-family:'Arial';font-weight:400;font-size:13px;">
                        <!-- ko if: (ColleagueSignOff == 1) -->
                        You have submitted this meeting for signoff.
                        <!-- ko if: (ManagerSignOff == 0) -->
                        <span data-bind="text: $parent.ManagerFirstName"></span> has not accepted your record for this Link meeting yet.
                        <!-- /ko -->
                        <!-- ko if: (ManagerSignOff == 1) -->
                        <span data-bind="text: $parent.ManagerFirstName"></span> accepted your record for this Link meeting.
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: (ColleagueSignOff ==0) -->
                        This meeting is not complete yet. Once you complete it, please submit it for signoff by
                        <span data-bind="text: $parent.ManagerFirstName"></span>
                        <!-- /ko -->
                    </span>
                </p>
                <p>
                    <a data-bind="attr: {'href': $root.getEditOrViewLink($data)}"
                       class="btn btn-lg btn-primary" style="background-color: silver; text-decoration: none">View Link meeting</a>
                </p>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    require(["LinkMeetings"], function (lm) {
        $(document).ready(function () {
            lm.init("@viewType");
        });
    });
</script>
