@{
    ViewBag.Title = "Welcome to Links";
}
<h2>Links: our new approach to performance</h2>
<p>
    <strong>All around our business, we’re constantly looking for new and better ways to operate, so we can achieve even more as a team.</strong>
</p>
<p>
    You’ve told us that PDRs don’t always work well for you. So we’ve been looking at different approaches to performance reviews. Evidence from the latest research and what other leading businesses are doing shows that there are more positive and useful ways to discuss your performance than the way we do it at the moment.
    <strong>That’s why we’re launching Links.</strong> Links are regular, individual discussions with your manager – but instead of following a tick list and sticking to a formal rating structure, they’re all about identifying and acknowledging the difference you make every day.
</p>
<div>
    <h3>So what does <strong>the difference I make </strong>really mean?</h3>
    <div>
        <p><strong>It’s what you do</strong></p>
        Your key personal achievements that contribute to your team, the business or our customers
        <p><strong>It’s how you do it</strong></p>
        The way you go about delivering those achievements, aligned to our values
        <p><strong>It’s collaboration, how we work better together</strong></p>
        The difference you make to and through others – sharing knowledge, contributing to their growth and success and building on their ideas. It means making the broadest difference, as this is when you have the greatest impact
    </div>
</div>
<h3>Think Link</h3>
We’ve called our new performance discussions Links because they’re all about making connections between business success and individual performance. Constructive discussions, they focus on each person’s impact in the team, because it’s our vital linking relationships that give colleagues powerful collective purpose.
<hr />
<div class="text-right">
    <p><a href="~/Content/Static/Links Leaflet.pdf" target="_blank">About Links</a></p>
</div>