@using JsPlc.Ssc.Link.Portal.Properties
@{
    ViewBag.Title = "Welcome to " + Resources.AppName;
}
<div class="row">

   <!-- <div class="background1">-->

    <div class="@(Request.IsAuthenticated ? "background1" : "")">

        @if (Request.IsAuthenticated)
        {
        <div class="col-md-8">
            <h1>Welcome to <strong>@Resources.AppName</strong></h1>

        </div>
        }
        else
        {
            <div class="col-md-8" style="margin-left:-270px;margin-right:270px;">
                <h1>Welcome to <strong>@Resources.AppName</strong></h1>

            </div>
        }


        <div class="col-md-4">
            <div style="background-color:#00acc9;color:#ffffff;border-radius: 15px;padding:15px;">

                <h3 style="color:#ffffff;text-transform:none;margin-bottom:15px;">
                    Thinking about performance at Sainsbury’s is thinking about ‘the difference
                    you make’
                </h3>



                <div class="liIcon liIconTick"></div>
                <div>
                    <strong>It’s what you do</strong>
                    <p>It’s what you do: your key achievements that contribute to your team, the business and our customers.</p>
                </div>
                <br style="clear:left;" />

                <div class="liIcon liIconHeart"></div>
                <div>
                    <strong>It’s how you do it</strong><p>
                        The way you go about delivering those achievements in line with our values.
                    </p>
                </div>
                <br style="clear:left;" />
                <div class="liIcon liIconPeople"></div>
                <div>
                    <strong>It’s how we work better together</strong>
                    <p>The difference you make to and through others; sharing knowledge, building on ideas and contributing to their growth and success. </p>
                </div>



            </div>
        </div>
        <br style="clear:both;" />
    </div>
</div>

  





    <script type="text/javascript">
        require(["jquery", "knockout"], function ($, ko) {
            $(document).ready(function () {
                //window.alert("jquery loaded");
            });
        });
    </script>
