@{
    ViewBag.Title = "Welcome to Links";
}



 



    <div class="row">
        <div class="col-md-8">
            <h3>So what does <strong>the difference I make </strong>really mean?</h3>
            <ul>
                <li>
                    <strong>It’s what you do</strong>
                    <p>Your key personal achievements that contribute to your team, the business or our customers</p>
                </li>
                <li>
                    <strong>It’s how you do it</strong><p>
                        The way you go about delivering those achievements, aligned to our values
                    </p>
                </li>
                <li>
                    <strong>It’s collaboration, how we work better together</strong>
                    <p>The difference you make to and through others – sharing knowledge, contributing to their growth and success and building on their ideas. It means making the broadest difference, as this is when you have the greatest impact</p>
                </li>
            </ul>

            <p><a href="~/Content/Static/LinksLeaflet.pdf" target="_blank">Read More</a></p>

        </div>
        <div class="col-md-4">
            <div id="welcome">

                <div class="speechBubble">
                    <h3 class="subtitleText">Think Link</h3>
                    <p style="font-size:80%;">We’ve called our new performance discussions Links because they’re all about making connections between business success and individual performance. Constructive discussions, they focus on each person’s impact in the team, because it’s our vital linking relationships that give colleagues powerful collective purpose.</p>
                </div>
            </div>
        </div>
    </div>

  
           
      

    <script type="text/javascript">
        require(["jquery", "knockout"], function ($, ko) {
            $(document).ready(function () {
                //window.alert("jquery loaded");
            });
        });
    </script>
