

<ul id="accordion1" style="list-style:none;padding:0;margin:0;margin-left:0;">
    <li class="panel panelX">
        <a data-toggle="collapse" data-parent="#accordion1" href="#zeroLink1">2014</a>
        <ul id="zeroLink1" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:5px;">
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#zeroLink1" href="#Link11">Period 1</a>
                <ul id="Link11" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/01/2014</li>
                    <li><a href="#">Meeting</a> 11/03/2014</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#zeroLink1" href="#Link12">Period 2</a>
                <ul id="Link12" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/05/2014</li>
                    <li><a href="#">Meeting</a> 11/06/2014</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#zeroLink1" href="#Link13">Period 3</a>
                <ul id="Link13" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/07/2014</li>
                    <li><a href="#">Meeting</a> 11/08/2014</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#zeroLink1" href="#Link14">Period 4</a>
                <ul id="Link14" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/10/2015</li>
                    <li><a href="#">Meeting</a> 11/12/2015</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="panel panelX">
        <a data-toggle="collapse" data-parent="#accordion1" href="#oneLink1">2015</a>
        <ul id="oneLink1" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:5px;">
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#oneLink1" href="#Link21">Period 1</a>
                <ul id="Link21" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#oneLink1" href="#Link22">Period 2</a>
                <ul id="Link22" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#oneLink1" href="#Link23">Period 3</a>
                <ul id="Link23" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#oneLink1" href="#Link24">Period 4</a>
                <ul id="Link24" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                    <li><a href="#">Meeting</a> 11/11/2015</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="panel panelX">
        <a data-toggle="collapse" data-parent="#accordion1" href="#twoLink1">2016</a>
        <ul id="twoLink1" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:5px;">
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#twoLink1" href="#Link31">Period 1</a>
                <ul id="Link31" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 11/01/2016</li>
                    <li><a href="#">Meeting</a> 20/02/2016</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#twoLink1" href="#Link32">Period 2</a>
                <ul id="Link32" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 09/06/2016</li>
                    <li><a href="#">Meeting</a> 15/07/2016</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#twoLink1" href="#Link33">Period 3</a>
                <ul id="Link33" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 18/09/2016</li>
                    <li><a href="#">Meeting</a> 11/11/2016</li>
                </ul>
            </li>
            <li class="panel panelX">
                <a data-toggle="collapse" data-parent="#twoLink1" href="#Link34">Period 4</a>
                <ul id="Link34" class="collapse" style="list-style:none;padding:0;margin:0;margin-left:10px;">
                    <li><a href="#">Meeting</a> 01/12/2016</li>
                    <li><a href="#">Meeting</a> 11/12/2016</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
