@using JsPlc.Ssc.Link.Models

@{
    ViewBag.Title = "Team";
    var currentUser = TempData["CurrentUser"] as UserView;
}
<style>
    .linkErrorMsg {
        font-weight: bold;
        color: red;
    }

    .linkInfoMsg {
        font-weight: bold;
        color: #313131;
    }
</style>

<div class="myPageContainer">
    <h2>@ViewBag.Title</h2>
    <div id="linkpage">
        <!-- knockout binding to this -->
        <div id="msgs"></div>
        <form id="myform" method="post" data-bind="submit: saveLinkForm" xclass="form-group input-group-sm">
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Colleague: </strong><span data-bind="text: $root.dataModel().ColleagueName  + ' (' + $root.dataModel().ColleagueId + ')'"></span>
                </li>
                <li class="active">
                    <strong>Manager: </strong><span data-bind="text: $root.dataModel().ManagerName + ' (' + $root.dataModel().ManagerId + ')'"></span>
                </li>
            </ol>

            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row" data-bind="with: dataModel, visible: dataAvailable">
                <!--Looking Back -->
                <div class="col-md-6">
                    <h3>Looking Back</h3>
                    <!-- LinkForm data items here -->
                    <!-- QUESTIONS Loop around this -->
                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" data-bind="foreach: LookingBackQuestions">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1" data-bind="attr:{href:'#collapse1'+ $index() }">
                                        <strong>Q.</strong><span data-bind="text: Question , 'name': 'Question[' + QuestionId + '].Question'"></span>
                                    </a>
                                </h4>
                            </div>

                            <div data-bind="attr:{id:'collapse1'+ $index()}, css:{in: $index() == 0}" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <span class="row">
                                        @if (currentUser.IsLineManager)
                                        {
                                            <span>Colleague Comment:</span><br />
                                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment" rows="4" ></textarea><br />
                                            <span>Manager Comment:</span><br />
                                            <textarea data-bind="text: ManagerComment, value:ManagerComment" rows="4"></textarea>
                                        }
                                        else
                                        {
                                            <span>Colleague Comment:</span><br />
                                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment" rows="4"></textarea><br />
                                            <span>Manager Comment:</span><br />
                                            <textarea data-bind="text: ManagerComment, value:ManagerComment" rows="4" ></textarea>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>





                <!-- Looking Forward -->
                <div class="col-md-6">
                    <h3>Looking Forward</h3>
                    <!-- LinkForm data items here -->
                    <!-- QUESTIONS Loop around this -->


                    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true" data-bind="foreach: LookingFwdQuestions">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion2" data-bind="attr:{href:'#collapse2'+ $index() }">
                                        <strong>Q.</strong><span data-bind="text: Question , 'name': 'Question[' + QuestionId + '].Question'"></span>
                                    </a>
                                </h4>
                            </div>

                            <div data-bind="attr:{id:'collapse2'+ $index()}, css:{in: $index() == 0}" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">
                                    <span class="row">
                                        @if (currentUser.IsLineManager)
                                        {
                                            <span>Colleague Comment:</span><br />
                                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment" rows="4" ></textarea><br />
                                            <span>Manager Comment:</span><br />
                                            <textarea data-bind="text: ManagerComment, value:ManagerComment" rows="4"></textarea>
                                        }
                                        else
                                        {
                                            <span>Colleague Comment:</span><br />
                                            <textarea data-bind="text: ColleagueComment, value:ColleagueComment" rows="4"></textarea><br />
                                            <span>Manager Comment:</span><br />
                                            <textarea data-bind="text: ManagerComment, value:ManagerComment" rows="4" ></textarea>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="container-fluid well" style="text-align: left;">
                        <div class="row">
                            <div class="col-md-2">
                                <strong>Meeting Date:</strong> <input type="text" id="MeetingDate" data-bind="value: dataModel().MeetingDate" class="datepicker form-control" readonly name="MeetingDate" width="200" />
                            </div>
                            <div class="col-md-10">
                                <p class="right">
                                    <!-- If ColleagueId param is same as LoggedInUser.Colleague.ColleagueId then this meeting is initiated by Colleague,
                                else it is by manager -> This check is done in controller itself -->
                                    <!-- Only manager can tick this.. -->
                                    <strong>Manager Signoff:</strong>
                                    <input id="Checkbox1" type="checkbox" data-bind="checked: dataModel().ManagerSignOff, value: dataModel().ManagerSignOff, enable: !(dataModel().ColleagueInitiated), readonly: (dataModel().ColleagueInitiated)" name="Completed1" />
                                    <!-- Only colleague can tick this.. -->
                                    <strong>Colleague Signoff:</strong>
                                    <input id="Checkbox2" type="checkbox" data-bind="checked: dataModel().ColleagueSignOff, value: dataModel().ColleagueSignOff, enable: (dataModel().ColleagueInitiated), readonly: !(dataModel().ColleagueInitiated)" name="Completed2" />

                                    <button type="button" class="btn btn-default" data-bind="visible: $root.dataAvailable, click: saveLinkForm">Save</button>
                                    &nbsp; &nbsp; <a class="btn btn-default" data-bind="click: $root.downloadLinkFormAsPdf">Download</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div><!-- / ko linkpage -->
</div>
<script type="text/javascript">
    require(["LinkFormCreate"]);
</script>

