
@{
    ViewBag.Title = "Create";
}

<h2>New Link Form</h2>

<ol class="breadcrumb">
    <li class="active">Colleague Name</li>
    <li class="active">Colleague ID</li>
    <li class="active">Line Manger Name</li>
    <li class="active">Line Manger ID</li>
</ol>



<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
    <div class="col-xs-6">
        <h3>Looking Forward</h3>


        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">


            @foreach (var p in ViewBag.Result)
            {
             
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            <strong>Q.</strong> @p.Description
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <strong>Colleague Comments</strong>
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>

                        <strong>Line Manager Comments</strong>
                        <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                    </div>
                </div>
            </div>
                
            }


        </div>

    </div>

    <div class="col-xs-6">
        <h3>Looking Forward</h3>
      

    </div>





</div>

<br />

<div class="well" style="text-align:right;">

    Complete <input id="Checkbox1" type="checkbox" /> <button type="button" class="btn btn-default">Save</button> &nbsp; <button type="button" class="btn btn-default">Download</button>

</div>
    