@{
    ViewBag.Title = "Link conversation";
}

<div id="linkpage">
    <!-- knockout binding to this -->
    <div class="row">
        <div class="col-md-6">YOUR DEVELOPMENT > LINK CONVERSATION</div>
    </div>
    <div id="msgs"></div>
    <div style="display: none" data-bind="visible: !$root.dataAvailable()">
        <h2 style="color:red">Error - No such conversation or access denied.</h2>
    </div>

    <div style="display:none" data-bind="visible: $root.dataAvailable">
        <h2>
            @ViewBag.Title -
            <span style="font-family:'Arial Bold', 'Arial';font-weight:500;font-size:15px;"
                  data-bind="text: $root.formatDateMonthDYHM($root.dataModel().MeetingDate) "></span>
        </h2>
        <h3>@ViewBag.Message</h3>

        <div class="meeting-banner">
            <div class="col-xs-6 col-md-1"><img src="/Content/Images/default_profile_picture.png" alt="..." class="img-circle" width="30"> </div>
            <div class="col-xs-6 col-md-11 left"><span class="colleagueInfo" data-bind="text: $root.dataModel().ColleagueName"></span></div>
            <br style="clear:both;">
        </div>

        <!-- Columns are always 50% wide, on mobile and desktop -->
        <div data-bind="with: dataModel">

            <!--Looking Back -->
            <h3 class="linksection-heading">LOOKING BACK</h3>
            <!-- LinkForm data items here -->
            <!-- QUESTIONS Loop around this -->
            <div data-bind="foreach: LookingBackQuestions">

                <h3 class="linkmeeting-question"><span data-bind="text: Question"></span></h3>

                <!-- ko if: $index() == 0 -->
                <div class="row">
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                        @*Manager Comment:<br /><textarea disabled data-bind="text: ManagerComment, value:ManagerComment" rows="4"></textarea>*@
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $index() != 0 -->
                <div class="row">
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->

            </div>


            <!-- Looking Forward -->
            <h3 class="linksection-heading">LOOKING FORWARD</h3>
            <!-- LinkForm data items here -->
            <!-- QUESTIONS Loop around this -->
            <div data-bind="foreach: LookingFwdQuestions">

                <h3 class="linkmeeting-question"><span data-bind="text: Question"></span> </h3>
                @*<div style="text-align:right;margin-top:-20px;">Discussed? <input type="checkbox" disabled="disabled" /></div>*@

                <!-- ko if: $index() == 0 -->
                <div class="row">
                    @*<div class="col-xs-2 threeiconContainer">
                            <img src="~/Content/Images/Tick_icon.PNG" class="threeicons" /><br />
                            <img src="~/Content/Images/bulb_icon.PNG" class="threeicons" /><br />
                            <img src="~/Content/Images/collaboration_icon.PNG" class="threeicons" /><br />
                        </div>*@
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $index() != 0 -->
                <div class="row">
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->


            </div>


            <!-- DRIVING MY DEVELOPMENT -->
            <h3 class="linksection-heading">DRIVING MY DEVELOPMENT</h3>
            <!-- LinkForm data items here -->
            <!-- QUESTIONS Loop around this -->
            <div data-bind="foreach: DrivingDevelopmentQuestions">

                <h3 class="linkmeeting-question"><span data-bind="text: Question"></span> </h3>


                <!-- ko if: $index() == 0 -->
                <div class="row">
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $index() != 0 -->
                <div class="row">
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->


            </div>


            <!-- IN A NUTSHELL -->
            <h3 class="linksection-heading">IN A NUTSHELL</h3>
            <!-- LinkForm data items here -->
            <!-- QUESTIONS Loop around this -->
            <div data-bind="foreach: InANutShellQuestions">

                <h3 class="linkmeeting-question"><span data-bind="text: Question"></span> </h3>
                @*<div style="text-align:right;margin-top:-20px;">Discussed? <input type="checkbox" disabled="disabled" /></div>*@

                <!-- ko if: $index() == 0 -->
                <div class="row">
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: $index() != 0 -->
                <div class="row">
                    @*<div class="col-xs-2 threeiconContainer">
                            <img src="~/Content/Images/Tick_icon.PNG" class="threeicons" /><br />
                            <img src="~/Content/Images/bulb_icon.PNG" class="threeicons" /><br />
                            <img src="~/Content/Images/collaboration_icon.PNG" class="threeicons" /><br />
                        </div>*@
                    <div class="col-xs-12 comments-container">
                        <br /><textarea disabled data-bind="text: ColleagueComment, value:ColleagueComment" xrows="4"></textarea><br />
                    </div>
                </div>
                <!-- /ko -->


            </div>
        </div>
        <br/>
        <div class="alert alert-info col-xs-12" style="text-align: right; background-color: whitesmoke">
            <div class="col-xs-12">

                <!-- Show signoff dates -->
                <div style="display:none" data-bind="visible: (dataModel().ColleagueSignOff==0)">
                    <span data-bind="text: (dataModel().ColleagueInitiated) ? 'You have ' : (dataModel().ColleagueName + ' has ')"></span>
                    not yet submitted this Link conversation.
                </div>
                <div style="display:none" data-bind="visible: (dataModel().ColleagueSignOff==1)">
                    <span data-bind="text: (dataModel().ColleagueInitiated) ? 'You' : dataModel().ColleagueName "></span>
                    submitted this Link conversation on
                    <span data-bind="text: $root.formatDateMonthDYHM($root.dataModel().ColleagueSignedOffDate) "></span>

                    <div style="display:none" data-bind="visible: (dataModel().ManagerSignOff ==0)">
                        <span data-bind="text: (dataModel().ColleagueInitiated) ? (dataModel().ManagerName + ' has ') : 'You have ' "></span>
                        not yet approved this Link conversation
                    </div>
                    <div style="display:none" data-bind="visible: (dataModel().ManagerSignOff ==1)">
                        <span data-bind="text: (dataModel().ColleagueInitiated) ? dataModel().ManagerName : 'You ' "></span>
                        approved this Link conversation on
                        <span data-bind="text: $root.formatDateMonthDYHM($root.dataModel().ManagerSignedOffDate) "></span>
                        <div>
                            <strong>conversation complete: </strong>&nbsp;&nbsp;
                            <input id="Checkbox2" type="checkbox" data-bind="checked: (dataModel().ManagerSignOff==1) && (dataModel().ColleagueSignOff==1)" name="ManagerSignOff" disabled="disabled" />
                        </div>
                    </div>
                </div>
                @*<strong>Colleague Completed: </strong><input id="Checkbox1" type="checkbox" data-bind="checked: dataModel().ColleagueSignOff" name="ColleagueSignOff" disabled="disabled" />*@
                @*<a data-bind="attr:{'href': dataModel().DownloadUrl}" class="btn btn-default">Download</a>*@
            </div><br />
        </div>
    </div>
</div><!-- / ko linkpage -->

<script type="text/javascript">
    require(["ViewMeeting"]);
</script>
