
<div class="row">
    <div class="col-md-9" style="padding-left:100px;">
        <p>
            This is your online performance management portal which will enable you to securely capture and save your objectives, Link conversations and personal development plans.
        </p>
        <p>
            The focus is on having meaningful conversations with your line manager about the difference you make.
        </p>

        <p>
            For further information on our new approach to performance management,
            please go to the self-teach guide
        </p>
    </div>
    <div class="col-md-3" style="">
        <img src="~/Content/Images/my-performance-icon.png" width="136" height="131">
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:center;">
        <hr/>
        <h2>Get started</h2>
      
            <p>
            1. Create objectives and your personal development plan<br/>
            2. Have a regular Link conversation with your line manager<br />
            3. Take notes during your conversation and create a Link conversation record
                </p>
         

        <button type="button" class="btn btn-default">My Objectives</button>
        <button type="button" class="btn btn-default">My PDP</button>
        <button type="button" class="btn btn-default">My Link Coversations</button>
    </div>
</div>