@using JsPlc.Ssc.Link.Portal.Models
@*@using Microsoft.AspNet.Identity*@
@using JsPlc.Ssc.Link.Models
@{
    var tab = TempData["tabName"];
    var tabName = (tab == null) ? "Welcome" : tab.ToString().ToLower();
}
@if (Request.IsAuthenticated)
{
    var currentUser = TempData["CurrentUser"] as LinkUserView;
    
    
    string welcomeText = "";
    if (currentUser != null && currentUser.Colleague != null && currentUser.Colleague.FirstName != null)
    {
        welcomeText = "Hello " + currentUser.Colleague.FirstName + "!";
    }
       
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
   

    <ul class="nav navbar-nav navbar-right">
        <li class="tab-heading">
            @if (currentUser != null)
            {
                // works, but now how do we put authorize attribute on Action methods (custom code), (or we check in code for manager, and return unauth result if not manager)
                //if (currentUser.IsLineManager)
                //{
                //    welcomeText += ".";
                //}
                if (!string.IsNullOrEmpty(welcomeText))
                {
                    @Html.ActionLink(welcomeText, "Index", "Manage") //, htmlAttributes: new { title = "Manage" })
                }
            }
        </li>
        <li class="tab-heading"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="@(tabName == "Log in" ? "active" : "") tab-heading">@Html.ActionLink("Log in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
