@{ 
   string tabName = ViewData["tabName"].ToString().ToLower();
}

<div class="tabs" id="mainTabs">
    <ul class="nav nav-tabs">
        <li role="presentation" class="@(tabName == "welcome" ? "active" : "") col-sm-3 tab-heading">
            <a href="~/Home/Welcome">Welcome</a>
        </li>
        <li role="presentation" class="@(tabName == "create" ? "active" : "") col-sm-3 tab-heading">
            <a href="~/Home/About">Create New</a>
        </li>
        <li role="presentation" class="@(tabName == "report" ? "active" : "") col-sm-3 tab-heading">
            <a href="~/Home/Welcome">My Link Report</a>
        </li>
        <li role="presentation" class="@(tabName == "team" ? "active" : "") col-sm-3 tab-heading">
            <a href="~/Home/Welcome">My Team</a>
        </li>
    </ul>
</div>
