@using System.Activities.Statements
@{
    ViewBag.Title = "Unauthorized";
}

<h1 class="text-danger">Unauthorized Access</h1>
<h2 class="text-danger">
    Sorry, you are not authorized to access this page
    @if (!String.IsNullOrEmpty(ViewBag.UnauthPage))
    {
        @("- " + @ViewBag.UnauthPage)
    }
</h2>
